﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TODOLIST APP</h1>
    <p class="lead">This is a simple app to manage your daily task.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

