﻿@model IEnumerable<ToDoListApp.Models.ToDo>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reminder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDone)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
               
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @if(!item.isDone)
                {
                    @Html.DisplayFor(modelItem => item.description)
                }
                else
                {
                    <div class="IsdoneClass">@Html.DisplayFor(modelItem => item.description)</div>
                   
                }
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reminder)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.isDone, new { id = item.id, @class = "checkboxes" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

<script src="~/CustomScripts/handleIsdoneEvent.js"></script>